@import url('./Colors.css');

.clear-button {
  height: 80px;
  font-size: 1.6em;
  display: flex;
  flex: 1;
  background-color: #441e1e;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid var(--TEXT);
  border-radius: 5px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: var(--HOVER);
  color: var(--BACKGROUND-COLOR);
  transition: 100ms;
}