:root {
  /* COLORS */
  --PRIMARY: #DA8CA2;
  --SECONDARY: #F26B91;
  --BACKGROUND-COLOR: #331D23;
  --OPERATOR: #8C767C;
  --HOVER: #cfb9bf;
  --TEXT: #FFF;
  --SCREEN-COLOR: #ffe7e7;
  --BODY: #221180;
}